extends layout 

block content 
    .w3-card-4 

        if (info.length)
            .w3-container 
                table(class="w3-table-all")
                    tr 
                        th id 
                        th Nome 
                    each i in info 
                        tr 
                            td
                                a(href=`/repositorio/${i.id}`) #{i.id} 
                            td=i.title
        
        else 
            div(class="w3-container")
                p Não há repositórios!